# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Test binary
*.test

# Go coverage
*.out
coverage.out

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Kind
kind
kind.exe

# Kubernetes
*.kubeconfig
kubeconfig
